body {
  background: #0f1923;
  font-family: "Muli";
  font-weight: 600px;
  font-style: normal;
}

.menu-outline {
  height: 500px !important;
  max-height: none !important;
  position: absolute;
  top: -250px;
  z-index: -1;
  width: 500px;
  box-shadow: 0 0 0 1px inset rgb(236 232 225 / 30%);
}

.menu-outline:after {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  right: 0;
  z-index: 5;
  top: 50%;
  left: initial;
  transform: translateY(-50%);
}

.menu-outline:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  left: initial;
  transform: translateY(-50%);
}

#selectButton {
  position: absolute !important;
}


#bottomBar {
  width: 650px;
  height: 100px;
  left: 60px;
  top: 310px;
  display: block;
  position: absolute;
  box-shadow: 0 0 0 1px inset rgb(236 232 225 / 30%);
}

#bottomBar:after {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  right: 0;
  left: initial;
  transform: translateY(-50%);
}

#bottomBar:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  left: initial;
  transform: translateY(-50%);
}

.infoButton{
  width: 100px;
  left: 15px;
  top: 5px;
  max-width: none;
  position: flex;
  float:left;
}

#question {
    display: flex;
}

#imageCanvas {
    display: none;
}

.CodeMirror {
  display: inline-block;
  z-index: 10;
}

.styles {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.styles a {
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #149fd6;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}
.styles a:after,
.styles a:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.styles a:before {
  right: 0;
  left: initial;
}
.styles a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.styles a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #149fd6;
}
.styles a p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}
.styles a p span.bg {
  left: -5%;
  position: absolute;
  background: #149fd6;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
.styles a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.styles a p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.styles a:hover {
  color: #ece8e1;
}
.styles a:hover span.bg {
  width: 110%;
}
.styles a:hover span.text:after {
  background: #ece8e1;
}

#imageLoader {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.radioButton {
    padding: 0px 10px;
    left: -8px;
    height: 40px;
}

.shaderName {
    width: 100%;
    max-width: 240px;
    height: 36px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #149fd6;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: relative;
    margin: 10px 0;
}

.CodeMirror-vscrollbar {  
  overflow-y: hidden !important;
}

.CodeMirror-hscrollbar {
  overflow-x: hidden !important;
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: #0F111A !important;
}
.modal-content {
  background-color: rgb(15, 25, 35);
  margin: auto;
  z-index: 20;
  padding: 20px;
  border: 2px solid #149fd6;
  width: 40%;
  height: 40%;
  color: white;
  transform: translate(0px, -1000px);
  animation: modal-appear 0.65s;
  border-radius: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  animation: modalBG-appear 0.65s;
}

.modalClose{
  cursor: pointer;
  background-color: transparent;
  transition: color 0.1s, background-color 0.1s;
  border-radius: 25px;
  padding: 5px 8px;
  left: -7px;
  top: -3px;
  position: relative;
}

.modalClose:hover{
  color: rgba(20,159,214,1.0);
  background-color: rgba(20,159,214,0.35);
}

.modalbg-dissapear {
  display: none;
  animation: modalBG-diss 0.65s;
}

.modal-dissapear {
  animation: modal-dissapear 0.85s;
  transform: translate(0px, 0px);
}

@keyframes modalBG-appear{
  from{opacity:0}
  to{opacity:1}
}

@keyframes modalBG-diss{
  from{opacity:1}
  to{opacity: 0}
}

@keyframes modal-appear{
  from{transform: translate(0px, -1000px)}
  to{transform: translate(0px, 0px)}
}
@keyframes modal-dissapear{
  from{transform: translate(0px, 0px)}
  to{transform: translate(0px, -1000px)}
}



div label {
    width: 100%;
    max-width: 240px;
    height: 54px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #149fd6;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: relative;
    margin: 10px 0;
  }
  .styles label:after,
  .styles label:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 8px;
    background: #0f1923;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .styles label:before {
    right: 0;
    left: initial;
  }
  .styles label p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .styles label p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #149fd6;
  }
  .styles label p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
  }

  .discordSocial {
    background: url(https://cdn.icon-icons.com/icons2/1476/PNG/512/discord_101785.png) center center;
    background-size: 75px;
    width: 75px;
    height: 75px;
    position: relative;
    margin: auto;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.1s;
  }
  .discordSocial:hover {
    opacity: 0;
  }
  .discordSocialTag{
    top: -72px;
    opacity: 0;
    background-color: #8C9EFF;
    margin: auto;
    position: relative;
    z-index: 1;
    width: 75px;
    border-radius: 100px;
    height: 70px;
    transition: opacity 0.1s, width 0.1s;
    font-size: 20px;
  }

  .discordSocialTag p {
    top: -17.5px;
    font-family: 'Muli';
    color: rgb(15, 25, 35);
    font-weight: 1000;
    height: 70px;
    line-height: 70px;
    text-align: center;
    position: absolute;
    width: 100%;
  }

  .discordSocialTag:hover{
    opacity: 1;
    width: 225px;
  }

  .styles label p span.bg {
    left: -5%;
    position: absolute;
    background: #149fd6;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
  }
  .styles label p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .styles label p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
    z-index: 5;
  }
  .styles label:hover {
    color: #ece8e1;
  }
  .styles label:hover span.bg {
    width: 110%;
  }
  .styles label:hover span.text:after {
    background: #ece8e1;
  }

  
  .dark {
    --primary: #149fd6;
    --other: #149fd6;
  
    background: #0f1923;
  }
  
  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
  
  
  input[type="radio"] {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }


  #question2 {
      height:1px;
  }

  @keyframes fadein {
    0%   { opacity:0; }
    100%   { opacity:1; }
  }
  @keyframes fadeout {
    0%   { opacity:1; }
    100%   { opacity:0; }
  }

  .fadeout {
    animation: fadeout 0.1s infinite;
  }
  .fadein {
    animation: fadein 0.1s infinite;
  }

  input[type="text"] {
    background: transparent;
    border: none;
    outline: none;
    height: 0.1px;
    transition: 0.3s;
    width: 300px;
    color: transparent;
    font-family: 'Muli';
    font-weight: bold;
    font-size: large;
    -webkit-transform:scale(1,1.025); /* Safari and Chrome */
    -moz-transform:scale(1,1.025); /* Firefox */
    -ms-transform:scale(1,1.025); /* IE 9 */
    -o-transform:scale(1,1.025); /* Opera */
    transform:scale(1,1.025); /* W3C */
  }
  input[type="text"]:valid {
      color: #149fd6;
      height: 34px;
  }

  .invisible {
      display: none;
  }
  input[type="text"]:hover {
    background: #149fd6;
    width: 300px;
    height: 34px;
    border: none;
    outline: none;
    background-color: #149fd6;
    color: white;
    font-family: 'Muli';
    font-weight: bold;
    font-size: large;
    -webkit-transform:scale(1,1.025); /* Safari and Chrome */
    -moz-transform:scale(1,1.025); /* Firefox */
    -ms-transform:scale(1,1.025); /* IE 9 */
    -o-transform:scale(1,1.025); /* Opera */
    transform:scale(1,1.025); /* W3C */
  }
  
  
  /* .design */
  .design {
    width: 16px;
    height: 16px;
  
    border: 1px solid var(--other);
    border-radius: 100%;
    margin-right: 16px;
  
    position: relative;
  }
  
  .design::before,
  .design::after {
    content: "";
    display: block;
  
    width: inherit;
    height: inherit;
  
    border-radius: inherit;
  
    position: absolute;
    transform: scale(0);
    transform-origin: center center;
  }
  
  .design:before {
    background: var(--other);
    opacity: 0;
    transition: .3s;
  }
  
  .design::after {
    background: var(--primary);
    opacity: .4;
    transition: .6s;
  }
  
  
  /* .text */
  .text {
    color: var(--other);
    font-weight: bold;
  }
  
  
  /* checked state */
  input:checked+.design::before {
    opacity: 1;
    transform: scale(.6);
  }
  
  
  /* other states */
  input:hover+.design,
  input:focus+.design {
    border: 1px solid var(--primary);
  }
  
  input:hover+.design:before,
  input:focus+.design:before {
    background: var(--primary);
  }
  
  input:hover~.text {
    color: var(--primary);
  }
  
  input:focus+.design::after,
  input:active+.design::after {
    opacity: .1;
    transform: scale(2.6);
  }
